<form class="form center-form" method="post">
  <h2>Login</h2>
  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" class="input-field"/>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" name="password" type="password" class="input-field"></input>
  </div>

  <div class="form-group">
    <input class="btn form-btn" type="submit" class="btn" value="Login" />
  </div>
</form>