<form class="form center-form" method="post">
  <h2>Register User</h2>
  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" class="input-field" value="{{username}}" />
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" name="password" type="password" class="input-field"></input>
  </div>

  <div class="form-group">
    <label for="confirmedPassword">Confirm Password</label>
    <input id="confirmedPassword" name="confirmedPassword" type="password" class="input-field"></input>
  </div>

  <div class="form-group">
    <label for="firstName">First Name</label>
    <input id="firstName" name="firstName" type="text" class="input-field" value="{{firstName}}" />
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input id="lastName" name="lastName" type="text" class="input-field" value="{{lastName}}" />
  </div>

  <div class="form-group">
    <label for="age">Age</label>
    <input id="age" name="age" type="number" class="input-field" value="{{age}}"></input>
  </div>
  
  <div class="form-group">
    <label for="gender">Gender</label>
    <select class="input-field" id="gender" name="gender">
      <option>Male</option>
      <option>Female</option>
    </select>
  </div>

  <div class="form-group">
    <input class="btn form-btn" type="submit" class="btn" value="Register" />
  </div>
</form>